body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background: white;
    display: flex;
}


.sidebar {
    width: 220px;
    background: black;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px 0;
    cursor: pointer;
}


.main {
    flex: 1;
}

header {
    background: blue;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
}


.stats {
    display: flex;
    padding: 20px;
    gap: 20px;
    
}

.stat-card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid lightgray;
    border-left: 5px solid blue;
    border-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    background: whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}


@media (max-width: 900px) {
    .stats {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}