body {
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
}

/* .text{
    border: 5px solid red;
}*/
.header {
    background-color: #0047b3;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
}
.header > h2{
    border: 3px solid red ;
}

.subtitle {
    font-size: 16px;
    font-weight: normal;
}
.container {
    width: 70%;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
}

h2 {
    margin-top: 0;
}

.question {
    margin-bottom: 25px;
    background-color: rgb(230, 243, 255);
}

.box-title {
    text-align: left;
    margin-top: 30px;
}
